afɔ̀jɛ̌
afɔkiklɔ́
afɔ̀klɛ́nnú
afɔklɔ́klɔ́
afɔkɔ́
afɔkpà
afɔkpablotɔ́
cí
cì
cícá
cícɛ́
cící
cícì
cícící
ciɖaciɖà
dɔ̀dɔ́xwàdɔ̌
ɖɔfìn
dɔ̀fínfɔ́n
dogbá
kwékwétín
kwélè
kwélegò
kwelele
lanhúnhwɛ́n
lanhutɛ̀n
lanhutɔ́
lanhuxɔsá
lanjanú
lanjijɔ
mǎwùsɛ́n
mǎwùsɛ́ntɔ́
mǎwǔsì
mǎwùsínsɛ́n
mǎwùtámɛ́kúɖótɔ́
mǎwùxò
nùdìdáɖɔ̀dómɛwútɔ́
nùɖíɖákplɔ́ntɔ́
nùɖíɖɛ́
nùɖíɖí
nudidó
sábɔ́
sácí
saɖexwé
saɖexwéjɛ̀sú
saɖiɖi
saɖitɔ́
sádó
sàfúnjɔ̀
